@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo", sans-serif;
}

.col-fluid {
    width: 90%;
}


.col-m {
    width: 98%;
    margin: 0 auto;
}

.col-l {
    width: 98%;
}


.flex-sm {
    display: flex;
    align-items: center;
}

header {
    padding: 10px;
    margin: 0 auto;
}

header h1, header p {
    padding: 5px 0;
}

header div {
    margin-top: 15px;
}

.logo-sm {
    width: 25px;
    height: 25px;
}

.logo-m {
    width: 35px;
    height: 35px;
}

.active {
    background-color: rgb(255, 113, 198);
    color: white;
    padding: 25px 15px;
}

.active p {
    margin-left: 5px;
}

/****************************** NAVBAR *****************/

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    background-color:  rgb(1, 6, 69);
    margin-left: 10px;
    margin-right: 15px;
}

nav {
    margin: 0 auto;
}

nav a {
    padding: 10px;
}

nav ul li {
    padding: 15px;
    text-align: center;
}

/******************************************** PREMIERE SECTION *************************************/

img {
    width: 100%;
}

.first-section, .info-container {
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 5px;
}

.logo-l {
    width: 50%;
    height: 20%;
}

.info-container h3{
    margin: 20px 0;
}

.info-container p {
    margin: 15px 0;
}

.info-container img {
    margin-right: 5px;
}

hr {
    margin: 30px auto;
    height: 5px;
    background-color: rgb(1, 6, 69);
}
    

@media screen and (min-width: 768px){

    header {
        display: flex;
        justify-content: space-between;
        padding: 0px 5px;
    }

    .col-l {
        width: 30%;
    }

    .flex-l {
        display: flex;
    }

    .logo {
        margin-top: 1%;
        margin-right: 2%;
    }

    .tittle-container {
        margin: 0;
    }

    header h1 {
        padding-top: 0;
    }

    /******************* NAVAR**********************/
    
    ul {
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    nav {
        margin: 0 5px;
    }

    nav a {
        padding: 25px;
    }

    /********************** FIRTS COTNAINER ******************/

    .col-m {
        width: 78%;
    }

    .info-container {
        justify-content: space-between;
    }

    .center-l{
        text-align: center;
    }

    .justify-center {
        justify-content: center;
    }
}
